<div class="p-4">
    <div class="mb-4">
        <h2 class="text-2xl font-bold mb-2">Create New List</h2>
        <input type="text" [(ngModel)]="newListName" placeholder="List Name" class="p-2 border rounded w-full" />
        <button (click)="createList()" class="mt-2 p-2 bg-blue-500 text-white rounded">Create List</button>
    </div>

    <div class="mb-4 flex items-center">
        <div class="w-full">
            <label for="listDropdown" class="block text-xl font-bold mb-2">Select List:</label>
            <select id="listDropdown" [(ngModel)]="selectedListId" (change)="onListChange()"
                class="p-2 border rounded w-full">
                <option *ngFor="let list of lists" [ngValue]="list.id">{{ list.name }}</option>
            </select>
        </div>
        <div class="ml-4 flex items-center">
            <button *ngIf="selectedListId !== null" (click)="openEditListModal(getListById(selectedListId!))"
                class="p-1 bg-yellow-500 text-white rounded mr-2">
                Edit
            </button>
            <button *ngIf="selectedListId !== null" (click)="deleteListWithConfirmation(selectedListId!)"
                class="p-1 bg-red-500 text-white rounded">
                Delete
            </button>
        </div>
    </div>

    <div *ngIf="selectedListId !== null">
        <h2 class="text-xl font-bold mb-4">{{ getListNameById(selectedListId) }}</h2>
        <div *ngIf="getItemsByListId(selectedListId).length > 0"
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            <div *ngFor="let item of getItemsByListId(selectedListId)"
                class="border rounded-lg p-4 flex flex-col items-center">
                <img [src]="item.recipe_image" alt="{{ item.recipe_name }}"
                    class="w-full h-40 object-cover rounded-md mb-4" />
                <h3 class="text-lg font-bold mb-2">{{ item.recipe_name }}</h3>
                <a [href]="item.recipe_uri" target="_blank" class="text-blue-500 mb-2">View Recipe</a>
                <button (click)="removeRecipeFromList(selectedListId!, item.custom_recipe_id)"
                    class="p-2 bg-red-500 text-white rounded">Remove</button>
            </div>
        </div>
        <div *ngIf="getItemsByListId(selectedListId).length === 0" class="text-gray-500 text-center">No recipes in this
            list.</div>
    </div>

    <!-- Add Recipe Modal -->
    <div *ngIf="selectedRecipe" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
        <div class="bg-white p-4 rounded w-96">
            <h2 class="text-xl font-bold mb-2">Add to List</h2>
            <label for="list" class="block mb-2">Select List:</label>
            <select id="list" [(ngModel)]="selectedListId" class="p-2 border rounded w-full mb-4">
                <option *ngFor="let list of lists" [ngValue]="list.id">{{ list.name }}</option>
            </select>
            <button (click)="addRecipeToList()" class="p-2 bg-blue-500 text-white rounded w-full mb-2">Add</button>
            <button (click)="closeAddToListModal()" class="p-2 bg-gray-500 text-white rounded w-full">Cancel</button>
        </div>
    </div>

    <!-- Edit List Modal -->
    <div *ngIf="editListId !== null" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
        <div class="bg-white p-4 rounded w-96">
            <h2 class="text-xl font-bold mb-2">Edit List</h2>
            <input type="text" [(ngModel)]="editListName" class="p-2 border rounded w-full mb-4"
                placeholder="List Name" />
            <button (click)="updateList()" class="p-2 bg-blue-500 text-white rounded w-full mb-2">Save</button>
            <button (click)="closeEditListModal()" class="p-2 bg-gray-500 text-white rounded w-full">Cancel</button>
        </div>
    </div>
</div>