<div class="navbar bg-gray-800 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a routerLink="/" class="text-2xl">RecipeApp</a>
    <nav>
      <a routerLink="/" class="mr-4">Home</a>
      <a *ngIf="authService.isLoggedIn()" routerLink="/user-lists" class="mr-4">My Lists</a>
      <button *ngIf="authService.isLoggedIn()" (click)="logout()" class="bg-red-500 p-2">Logout</button>
      <a *ngIf="!authService.isLoggedIn()" routerLink="/login" class="mr-4">Login</a>
      <a *ngIf="!authService.isLoggedIn()" routerLink="/register" class="bg-blue-500 p-2">Register</a>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
<div class="footer bg-gray-800 text-white p-4 mt-4">
  <div class="container mx-auto text-center">
    &copy; 2024 RecipeApp
  </div>
</div>